* {
  box-sizing: border-box;
}
body {
  font: 16px/1.6 "Roboto", "Noto Sans KR", sans-serif;
  letter-spacing: -0.04em;
  color: #000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #8e93ff;
}
body,
html {
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
